########################################################
# APP CONFIG
APP_NAME=URL Metadata Inventory Service
APP_VERSION=1.0.0
APP_VERSION_PREFIX=/v1

HTTP_TIMEOUT=30
HTTP_MAX_RETRIES=3


WORKERS=8
SERVER_TIMEOUT=300

########################################################
# BACKGROUND WORKER
STALE_JOBS_RETRY_WORKER=true
STALE_JOBS_MAX_RETRIES=5
STALE_JOBS_MAX_LIMIT=10
STALE_JOBS_RETRY_DELAY=5
STALE_JOBS_PICKUP_DELAY=10

########################################################
# CORS
BACKEND_CORS_ORIGINS=["*"]

########################################################
# MONGODB CONFIG
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_INITDB_DATABASE=metadata_collection_db

MONGODB_URL=mongodb://admin:admin@mongodb:27017
MONGODB_DB_NAME=metadata_collection_db
MONGODB_METADATA_COLLECTION_NAME=url_metadata_collection
MONGODB_MAXPOOL_SIZE=10
MONGODB_MINPOOL_SIZE=1

########################################################
# MONGO EXPRESS
ME_CONFIG_BASICAUTH_ENABLED=true
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin
ME_CONFIG_MONGODB_URL=mongodb://admin:admin@mongodb:27017/metadata_collection_db?authSource=admin
